[submodule "micro_ros_stm32cubemx_utils"]
	path = micro_ros_stm32cubemx_utils
	url = git@github.com:micro-ROS/micro_ros_stm32cubemx_utils.git
[submodule "lib/icm20948_driver"]
	path = lib/device_drivers
	url = git@github.com:gonzafernan/icm20948-driver.git
